MLP/source_codes/train-images-idx3-ubyte.gz
MLP/source_codes/mnist/train-images-idx3-ubyte.gz
MLP/source_codes/mnist/t10k-labels-idx1-ubyte.gz
MLP/source_codes/mnist/train-labels-idx1-ubyte.gz
MLP/source_codes/mnist/t10k-images-idx3-ubyte.gz
.vscode/settings.json
MLP/source_codes/__pycache__/activations.cpython-36.pyc
MLP/source_codes/__pycache__/derivatives.cpython-36.pyc
MLP/source_codes/trial.py
MLP/source_codes/__pycache__/neuralnet.cpython-36.pyc
MLP/source_codes/__pycache__/downloader.cpython-36.pyc
MLP/source_codes/__pycache__/downloader.cpython-36.pyc
MLP/source_codes/__pycache__/downloader.cpython-36.pyc
MLP/source_codes/__pycache__/downloader.cpython-36.pyc
MLP/source_codes/__pycache__/downloader.cpython-36.pyc
MLP/source_codes/__pycache__/downloader.cpython-36.pyc
MLP/source_codes/__pycache__/activations.cpython-36.pyc
MLP/source_codes/__pycache__/activations.cpython-36.pyc
MLP/source_codes/__pycache__/activations.cpython-36.pyc
MLPsource_codes/__pycache__/activations.cpython-36.pyc
MLP/source_codes/__pycache__/activations.cpython-37.pyc
MLP/source_codes/__pycache__/derivatives.cpython-37.pyc
MLP/source_codes/__pycache__/downloader.cpython-37.pyc
MLP/source_codes/.vscode/settings.json
MLP/Images/training_loss.png
MLP/source_codes/__pycache__/evaluations.cpython-36.pyc
MLP/source_codes/__pycache__/feature_extractor_and_pre_processing.cpython-36.pyc
MLP/source_codes/__pycache__/regularization.cpython-36.pyc
MLP/source_codes/__pycache__/image_transformations.cpython-36.pyc
MLP/Images/
MLP/source_codes/__pycache__/classifiers.cpython-36.pyc
MLP/source_codes/train-images-idx3-ubyte.gzzqunlbi7.tmp
MLP/source_codes/__pycache__/classifiers.cpython-37.pyc
MLP/source_codes/__pycache__/evaluations.cpython-37.pyc
ee17b031.zip
MLP/latex_files.zip
MLP/report.pdf
CNN/.vscode/settings.json
CNN/source_codes/.vscode/settings.json
